body {
  background: #141414;
  margin: 0;
  font-family: Arial;
  color: #eee;
}
header {
  background: #0d0d0d;
  padding: 20px;
  text-align: center;
}
form {
  margin: 20px;
}
p {
  font-size: 18px;
}
